@charset "UTF-8";

/* 
em HTML é id = em CSS é #
em HTML é class = em css é .
*/

body {
    background-color: rgb(182, 255, 182);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(84, 146, 84);
}

h1#principal{
    text-align: center;
    background-color: rgb(84, 146, 84);
    color: white;
}

h2 {
    color: rgb(62, 116, 62);
}

.basico {
    color: rgb(62, 116, 62);
    font-weight: bold;
}

.intermediario {
    color: rgb(137, 145, 32);
    font-weight: bold;
}

.avancado {
    color:  rgb(252, 63, 63);
    font-weight: bold;
}

.destaque{
    background-color: rgba(255, 255, 94, 0.418);
}